<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

{% include 'nav.html' %}

<div class="row">
    {% for post in posts %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ url_for('view_post', post_id=post.id) }}"><h3 class="panel-title">{{ post.title }} - {{ post.author }}</h3></a>
            </div>
            <div class="panel-body">
                {{ post.body }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>
