<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">아주 조그마한 블로그</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="/write">글쓰기</a></li>
          <li><a href="/my_post">내 글보기</a></li>
          {% if session.logged_in %}
        <li class="active"><a href="#">{{ session.user_nickname }}님 환영합니다.</a></li>
          {% endif %}
      </ul>
	  <ul class="nav navbar-nav navbar-right">
		{% if not session.logged_in %}
		<li><a href="/login">로그인</a></li>
		{% else %}
		<li><a href="/logout">로그아웃</a></li>
		{% endif %}
        <li><a href="/join">회원가입</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
